rules_version = '2';
service cloud.firestore {
	match /databases/{database}/documents {
  	// APPLICATION CONFIGURATION FILES
  	match /application {
    	// Public configuration set is public for everyone
    	match /PUBLIC_CONFIGURATION {
	  		allow read
      }
      // Private configuration requires sign in
      match /PRIVATE_CONFIGURATION {
      	allow read: if request.auth != null
      }
      
      // User configuration requires sign in
      match /USER_CONFIGURATION {
      	allow read: if request.auth != null
      }
    }

		// USERS ACCESS RULES
    match /users {
    	// Users can only read & update their own documents.
    	match /{userId} {
      	allow read, write: if request.auth != null && request.auth.uid == userId
        // Any logged in can read user public profile
        match /AUDIT_LOG/{document=**} {
          allow read, write, create: if request.auth != null && request.auth.uid == userId
        }
        // Any logged in can read user public profile
        match /PUBLIC_PROFILE/{document=**} {
          allow read: if request.auth != null
        }
        
      }      
      
    }    	
  }
  
}